<div class="wrapper_with_padding">
  <div id="doc_show">
      <br />
      <h1 class="title"> <%= @document.title %> </h1>
      <p> <%= @document.content %> </p>
  </div>
</div>
<%= link_to "All Documents", documents_path %>
<%= link_to "Edit Document", edit_document_path(@document) %>
<%= link_to "Trash Document",
            document_path(@document), method: :delete,
            data: { confirm: "Are you sure you want to delete this document?" } %>
